<!DOCTYPE html>
<style>
H3{
    text-align:center;
    color: navajowhite;
    padding-top:20px;
}
h4{

}
.grey:hover{
background-color: #ddd;
}
.grey{
margin-left:50px;
padding: 20px;
background-color: navajowhite;

}

body{
 background-color: black;
 color:navajowhite;
margin-left:50px;
 padding-bottom: 20px;
}
</style>
<title>GITHUB REPOSITORIES</title>
<H3> WELCOME TO GITHUB STARS</H3>
<H4>TOP PYTHON REPOSITORIES IN GITHUB </H4>
<body>
CONGRATULATIONS!<br>
<p>
    If you are seeing this, you have successfully connected to the Mysql database. <br>
</p>
PROJECT DESCRIPTION:
<p>
This is an example RESTful web application developed in Python using the Flask framework. <br>
The GithubStars app connects to the Github API to read the json data for the Python <br>
repositories which have the most stars. This data is then stored in a MySQL database <br>
instance and displayed as a list. Please click on the "Top Python repos from DB" button<br>
    to see this list.The Navigation allows the user to click on each item in the list to see the details. <br>
    The "Top Python repos from github API" button allows you to see the data directly from the
    github site
</p>
Minimum Software Requirements:<br>
<ul>
<li>WINDOWS 7</li>
<li>FLASK V 1.1</li>
<li>PYTHON V 3.2.8</li>
<li>MYSQL DATABASE V 8.0</li>
</ul>
</body>
<br>
<div>
<a href=/list><button class=grey style="height:70px;width:150px">Top Python repos from DB</button></a>
<a href=/repos><button class=grey style="height:70px;width:150px">Top Python repos from Github API </button></a>
</div>
</html>